/* root colors */
:root {
    /* CSS HEX */
--process-cyan: #01baefff;
--verdigris: #0cbabaff;
--russian-violet: #380036ff;
--dark-purple: #26081cff;
--licorice: #150811ff;

/* CSS HEX */
--midnight-green: #02394aff;
--yale-blue: #043565ff;
--savoy-blue: #5158bbff;
--ultra-pink: #f26df9ff;
--rose-bonbon: #eb4b98ff;

/* CSS HEX */
--dark-green: #152614ff;
--cal-poly-green: #1e441eff;
--office-green: #2a7221ff;
--forest-green: #119822ff;
--lime-green: #31cb00ff;

/* CSS HEX */
--burnt-umber: #8c271eff;
--khaki: #aba194ff;
--timberwolf: #cfcbcaff;
--platinum: #d8dddeff;
--light-cyan: #d9f7faff;

/* CSS HEX */
--black: #000505ff;
--space-cadet: #3b3355ff;
--ultra-violet: #5d5d81ff;
--columbia-blue: #bfcde0ff;
--white: #fefcfdff;

/* CSS HEX */
--feldgrau: #3f4b3bff;
--hunter-green: #44633fff;
--sea-green: #5a9367ff;
--mint: #5cab7dff;
--turquoise: #4adbc8ff;


}